@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --box : minmax(18vh,150px);
    --box2 : minmax(15vw,150px);
    --padding : clamp(7vw,380px,27%);
    --top : clamp(2vh,90px,10%);
    --font: clamp(3rem,48px,10%);
    --left: clamp(10vw,600px,48%);
    --width: clamp(10vw,20)
}

body{
    margin:0;
    padding: 0;
}

.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: var(--left);
    margin-left: var(--padding);
    margin-top: var(--top);
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: min(2rem,5vw);
    font-family: "Poppins";
    border-radius: 15px;
}

.gridbox{
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(3,var(--box2));
    grid-template-rows: repeat(3,var(--box));
    text-align: center;
    padding-left: var(--padding);
    padding-top: var(--top);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-color: black;
    border-radius: 10px;
    font-size: 5rem;
    font-weight: bolder;
    font-family: "Poppins";
}

header{
    text-align: center;
    background: #222831; 
    font-size: var(--font);
    padding-left: 20px;
    height: 100px;
    padding-top: 25px;
    color: #f96d00; 
    font-weight: bolder;
    font-family: "Poppins";
}

footer{
    height: 100px;
    background: #222831;
    margin-bottom: 0;
    margin-top: 20vh;
}

.box:hover{
    background: #f95959;
    color: whitesmoke;
}

.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: var(--left);
    margin-left: var(--padding);
    margin-top: var(--top);
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: min(2rem,5vw);
    font-family: "Poppins";
    border-radius: 15px;
    font-weight: bolder;
    background-color: rgba(17, 86, 216, 0.685);
}

.reset:hover{
    background-color: rgb(5, 88, 241);
}